---
layout: layouts/base.njk
---

{% for til in collections.tils | reverse %} {% if loop.index0 < 3 %}
<article>
  <h1>
    {{ til.data.title }}
  </h1>
  {{ til.date }}
  <a href="{{ til.url | url }}">Lire l'article}</a>
</article>
{% endif %} {% endfor %}
