---
title: Test index
layout: layouts/base.njk
---

<h1>Bienvenue sur test</h1>
<h2>test</h2>

{% for til in collections.tils | reverse %} {% if loop.index0 < 3 %}
<article>
  <h1>
    <a href="{{ til.url | url }}">{{ til.data.title }}</a>
  </h1>
  {{ til.date }}
</article>
{% endif %} {% endfor %}