<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <link href="https://unpkg.com/prismjs@1.26.0/themes/prism-tomorrow.min.css" rel="stylesheet">

    <title>Flora GC</title>
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}">Home</a>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
